body {
	margin: 0;
}

.box {
	width: 200px;
	height: 200px;
	background-color: orange;
	margin: 20px auto;

	text-align: center;
	line-height: 200px;
	color: #fff;
	font-size: 60px;

	border-radius: 40px;
}
